* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  padding: 20px 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotipo {
  display: flex;
  float: left;
}

.logotipo-nombre {
  padding-left: 20px;
}

.logotipo-nombre .logotipo-nombre_titulo {
    font-size: 19px;
    color: rgb(112, 112, 112);
    font-weight: bold;
}
.logotipo-nombre .logotipo-nombre_subtitulo {
    font-size: 8px;
    color: rgb(195, 208, 216);
}

.menu nav {
  float: right;
}

.menu nav ul li:not(:first-child) {
  padding-left: 20px;
}

.menu nav ul {
  display: flex;
  list-style: none;
}
.menu nav ul a {
  color: black;
  text-decoration: none;
}
